main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 1200px;

    justify-content: center;
    align-items: center;
}

.hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: 2px solid black;
    width: 300px;
    height: 300px;
}
h1{
    color: blue;
}
h2{
    color: red;
}