<main>
    <div>
        <h2>My Heroes</h2>
        <ul class="heroes">
          <li *ngFor="let hero of heroes">
            <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
              <span class="badge">{{hero.id}}</span>
              <span class="name">{{hero.name}}</span>
            </button>
          </li>
        </ul>
    </div>
    
    <div>
        <div class="hero-card" *ngIf="selectedHero">
            <h1>{{selectedHero.name}} Details</h1>
            <h2>Name: {{selectedHero.name | uppercase}}</h2>
            <h2>Id: {{selectedHero.id}}</h2>
            
            <div>
                <label for="">Hero Name: </label>
                <input [(ngModel)]="selectedHero.name" type="text" placeholder="Name">
            </div>
        </div>
    </div>
</main>